@model Danime.Models.MangaData.Datum

<div class="details-container">
    <h1>@Model.title</h1>
    <div class="details-content">
        <img src="@Model.images?.jpg?.image_url" alt="@Model.title" class="details-image" />

        <div class="manga-synopsis">
            <p><strong></strong> @Model.synopsis</p>
        </div>
    </div>

    

    <div class="manga-meta">
        <p><strong>Rank:</strong> @Model.rank</p>
        <p><strong>Popularity:</strong> @Model.popularity</p>
        <p><strong>Favorites:</strong> @Model.favorites</p>
        <p><strong>Type:</strong> @Model.type</p>
        <p><strong>Status:</strong> @Model.status</p>

    </div>


    <!-- Genres -->
    <div class="manga-genres">
        <strong>Genres:</strong>
        @foreach (var genre in Model.genres)
        {
            <span class="genre-tag">@genre.name</span>
        }
    </div>

    <!-- Authors -->
    <div class="anime-genres">
        <strong>Authors:</strong>
        @foreach (var author in Model.authors)
        {
            <span class="genre-tag">@author.name</span>
        }
    </div>
</div>
