@model List<Danime.Models.MangaData.Datum>

<form method="get" action="@Url.Action("Search", "Manga")" class="search-form">
    <input type="text" name="query" placeholder="Search Anime" required value="@ViewData["query"]" />
    <button type="submit">Search</button>
</form>

@if (Model != null && Model.Any())
{
    <div class="manga-list">
        @foreach (var manga in Model)
        {
            <div class="manga-item">
                <img src="@manga.images?.jpg?.image_url" alt="@manga.title" class="manga-image" />
                <h3>@manga.title</h3>
                <a href="@Url.Action("Details", "Manga", new { id = manga.mal_id })" class="details-button">View More Details</a>
            </div>
        }
    </div>
}
else
{
    <p class="error-message">@ViewBag.ErrorMessage</p> <!-- Display the error message from the controller if no results -->
}
